{% extends "base.html" %}
{% load static %}

{% block scripts %}
  <script src="{% static "quizes/main.js" %}" defer></script>
  {% comment %} defer - runs after parsing html execution {% endcomment %}
{% endblock scripts %}


{% block title %}
    {{obj.name}}
 {% endblock title %}

{% block content %}

<header style="padding:32px">
  <h1>Quiz app</h1>
</header>

<div class="container text-center text-info">
<div class="row row-cols-4">
{% for obj in object_list %}
  <div class="col bg-success me-2 mb-3 p-5 quizes"
   id="{{obj.pk}}"
   onclick="StartQuiz()"
   >
    <h2>{{obj.name}}<h2>
  </div>
{% endfor %}
</div>
</div>

{% endblock content %}